<app-customer></app-customer>
<hr />
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <app-product [list]="products"></app-product>
        </td>
      </tr>
      <tr *ngFor="let i of itens">
        <td>
          <app-product [list]="products"></app-product>
        </td>
        <td>
          <button class="btn" (click)="removeItem(i)">excluir</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <button class="btn" (click)="add()">adicionar</button>
      <div class="container-fluid">
        <span>Valor Total: R$ 0,00</span>
        <button class="btn-checkout" (click)="add()">solicitar compra</button>
      </div>
    </tfoot>
  </table>
</div>
