<div class="container">
  <div class="content">
    <div class="container-fluid">
      <label class="fw-bold" for="customer">Comprador</label>
      <input type="text" class="form-control" name="customer" id="customer">
    </div>
    <div class="container-fluid">
      <label class="fw-bold" for="customer">CPF/CNPJ</label>
      <input type="text" class="form-control" placeholder="00.000.000/0000-00" mask="000.000.000-99||00.000.000/0000-00" name="identity" id="identity" >
    </div>
  </div>
</div>
